header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  height: 75px;
  overflow: hidden;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li:nth-child(1){
  margin-right: 30px;
}

.navLinks{
  background-color: #333;
  
}

.main-nav-link{
  color: white;
}

.empty{
  background-color: black;
}

.brandArea{
  background-color: darkred;
}

.headerDiv{
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center center;
}

.brand{
  font-size: 26px;
  color: white;
}

@media (max-width: 1000px) {
  header{
    grid-template-columns: repeat(3, 1fr);
  }
}